*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
a{
    color: $darkcolr;
    text-decoration: none;
}
li{
    list-style: none;
}